pre.highlight {
  background-color: #f8f8f2; /* Lighter background for better contrast on white page */
  color: #272822; /* Darker text color for readability */
  padding: 7px 7px 7px 10px;
  margin: 20px 0;
  overflow-x: auto; /* Use auto to only show scroll when necessary */
  border-radius: 6px;
  border: 1px solid #ccc; /* Add border for definition */
}

code {
  font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
  font-size: 11pt;
  tab-size: 4;
}

/* Adjusting the colors for better visibility and contrast */
pre.highlight .k { color: #0072b1; } /* Keyword */
pre.highlight .c, .cm, .cp, .c1, .cs { color: #6a737d; } /* Comment */
pre.highlight .err { color: #d73a49; background-color: #ffebef; } /* Error */
pre.highlight .l, .m, .mf, .mh, .mi, .mo, .il { color: #005cc5; } /* Literal & Numbers */
pre.highlight .n, .nb, .bp, .vc, .vg, .vi { color: #24292e; } /* Name */
pre.highlight .o { color: #d73a49; } /* Operator */
pre.highlight .p { color: #24292e; } /* Punctuation */
pre.highlight .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss { color: #032f62; } /* String */
pre.highlight .na, .nc, .no, .nd, .ne, .nf, .nl, .nn, .nx, .py, .nt, .nv { color: #22863a; } /* Name */

/* Specific to Go syntax */
pre.highlight .kd { color: #d73a49; } /* Keyword.Declaration */
pre.highlight .kt { color: #22863a; } /* Keyword.Type, for types like int, string */
pre.highlight .nf { color: #6f42c1; } /* Name.Function, for function names */
pre.highlight .nn { color: #005cc5; } /* Name.Namespace, for package names */

/* Other specific highlights */
pre.highlight .ow { color: #d73a49; } /* Operator.Word */
pre.highlight .w { color: #f8f8f2; } /* Text.Whitespace */
pre.highlight .gh { } /* Generic Heading & Diff Header */
pre.highlight .gu { color: #545454; } /* Generic.Subheading & Diff Unified/Comment? */
pre.highlight .gd { color: #d73a49; } /* Generic.Deleted & Diff Deleted */
pre.highlight .gi { color: #22863a; } /* Generic.Inserted & Diff Inserted */

/* Ensure other styles like italic/bold are preserved */
pre.highlight .ge { font-style: italic; } /* Generic.Emph */
pre.highlight .gs { font-weight: bold; } /* Generic.Strong */
