---
layout: default
---

<article class="post">
  {% if page.series %}{% include series.html %}{% endif %}
  <h1>{{ page.title }}</h1>
  <div class="date">Written on {{ page.date | date: '%B %e, %Y' }}</div>

  <div class="entry center-images">
    {{ content }}
  </div>

  <br />

  {% if page.series %}{% include series-pager.html %}{% endif %}

  <hr />

  <p>Shameless plug: I recently quit my job to co-found Subble, a web app that helps you manage your company's SaaS subscriptions. Your company is almost certainly wasting time and money on shadow IT and unused licences and Subble can fix that. Check it out at <a href="https://www.subble.com">subble.com</a> </p>

  <hr />

  <br />

  {%- if site.commentbox.id -%} {%- include
  commentbox.html -%} {%- endif -%}
</article>
